{% extends "base.html" %}
{% load goonsay_tags voting_tags %}

{% block title %}{{ title }}{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vote.js"></script>
{% endblock %}

{% block content %}
{% for object in object_list %}
{% score_for_object object as score %}
<div class="goonsay-list {% cycle 'leftgoonsay' 'rightgoonsay' %}">
    <div class="title"><a href="{{ object.get_absolute_url }}">{{ object }}</a>
        <div class="voting">
            <a class="vote-link" title="Vote {{ object }} Up" href="{% url goonsay:voting object_id=object.pk direction='up' %}">+</a>
            (<span class="score-value">{{ score.score }}</span>) 
            <a class="vote-link" title="Vote {{ object }} Down" href="{% url goonsay:voting object_id=object.pk direction='down' %}">-</a>
        </div>
    </div>
    <blockquote>
            {{ object.text }}
    </blockquote>
</div>
{% endfor %}
{% if is_paginated %}
    <div class="paginated">
        {% render_paginator 2 3 %}
    </div>
{% endif %}
{% endblock %}
