{% extends "base.html" %}
{% load voting_tags %}

{% block title %}{{ object }}{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vote.js"></script>
{% endblock %}

{% block content %}
{% score_for_object object as score %}
{% if voting_confirm %}
    <form action="" method="POST">
        <div class="goonsay-voting-confirm">
            Do you Really want to vote this {{ direction }}?
            <div><input class="submit" type="submit" value="Click to Confirm" /></div>
        </div>
    </form>
{% endif %}
<div class="goonsay">
    <div id="vote-msg"></div>
    <div class="title">{{ object }}
        <div class="voting">
            <a class="vote-up" title="Vote {{ object }} Up" href="{% url goonsay:voting object_id=object.pk direction='up' %}">+</a>
            (<span class="score-value">{{ score.score }}</span>) 
            <a class="vote-down" title="Vote {{ object }} Down" href="{% url goonsay:voting object_id=object.pk direction='down' %}">-</a>
        </div>
    </div>
    <blockquote>
            {{ object.text }}
    </blockquote>
</div>
{% endblock %}
