{% extends "base.html" %}
{% load goonsay_tags voting_tags %}

{% block title %}Search{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vote.js"></script>
{% endblock %}

{% block search %}
<h4>Search</h4>

<form method="get" action="{% url haystack_search %}">
    <div id="search">
        {{ form.q }}
        <input type="submit" class="button" value="Go" />
        
        <br class="clear" />
    </div>
</form>
{% endblock search %}

{% block content %}
    {% if query %}
        <h3>Results</h3>

        {% for result in page.object_list %}
            {% score_for_object result.object as score %}
            <div class="goonsay-list {% cycle 'leftgoonsay' 'rightgoonsay' %}">
                <div class="title">
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                    <div class="voting">
                        <a class="vote-link" title="Vote {{ result.object }} Up" href="{% url goonsay:voting object_id=result.object.pk direction='up' %}">+</a>
                        (<span class="score-value">{{ score.score }}</span>) 
                        <a class="vote-link" title="Vote {{ result.object }} Down" href="{% url goonsay:voting object_id=result.object.pk direction='down' %}">-</a>
                    </div>
                </div>
                <blockquote>
                    {{ result.object.text }}
                </blockquote>
            </div>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
