{% load navbar goonsay_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>:goonsay: {% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </head>
    <body>
        <div id="header">
            <div id="header_inner" class="fluid">

                <div id="logo">
                    <h1>goonsay</h1>
                </div>

                {% block menu %}
                <div id="menu">
                    {% navbars %}
                    {% comment %}
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Latest</a></li>
                        <li><a href="#">Random</a></li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Search</a></li>
                    </ul>
                    {% endcomment %}
                </div>
                {% endblock menu %}

            </div>
        </div>

        <div id="main">
            <div id="main_inner" class="fluid">

                <div id="primaryContent_2columns">
                    <div id="columnA_2columns">
                        {% block content %}
                        <div class="goonsay home-goonsay">
                            <blockquote> 
                                <p>
                                    <strong>Welcome!</strong> Browse away to your amusement, and feel free to add some :goonsay: yourself.
                                </p>
                                <p>
                                    If you like or dislike a :goonsay:, vote with the + and - links.
                                </p> 
                            </blockquote>
                        </div>
                        {% endblock content %}
                    </div>
                </div>

                <div id="secondaryContent_2columns">
                    <div id="columnC_2columns">
                        {% block sidebar %}
                            {% block search %}
                            <h4>Search</h4>
                            <form method="get" action="{% url haystack_search %}">
                                <div id="search"> 
                                    <input type="text" class="text" name="q" />
                                    <input type="submit" class="button" value="Go" />
                                    <br class="clear" />
                                </div> 
                            </form>
                            {% endblock search %}

                        {% endblock sidebar %}
                    </div>
                </div>

                <br class="clear" />

            </div>
        </div>

        <div id="footer" class="fluid">
            <div class="copyright">
            </div>
            <div class="stats">
                {% show_goonsay_stats %}
            </div>
        </div>
    </body>
</html>
