{% load navbar %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>:goonsay: {% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    </head>
    <body>
        <div id="header">
            <div id="header_inner" class="fluid">

                <div id="logo">
                    <h1>goonsay</h1>
                </div>

                {% block menu %}
                <div id="menu">
                    {% navbars %}
                    {% comment %}
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Latest</a></li>
                        <li><a href="#">Random</a></li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Search</a></li>
                    </ul>
                    {% endcomment %}
                </div>
                {% endblock menu %}

            </div>
        </div>

        <div id="main">
            <div id="main_inner" class="fluid">

                <div id="primaryContent_columnless">
                    <div id="columnA_columnless">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>

                <br class="clear" />

            </div>
        </div>

        <div id="footer" class="fluid">
            Copyright &copy; 2010 Your Website. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a>.
        </div>
    </body>
</html>
